* {
    margin: 0;
    padding: 0;
}

.clients-detail-return-button {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.clients-detail-return-button-icon {
    transform: scale(70%);
}

.clients-detail-div {
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    font-family: sans-serif;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.clients-detail-info-div {
    width: 50vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.clients-detail-books-div {
    width: 50vw;
    height: 100vh;
    border-right: 2px solid #999;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.clients-detail-books-label {
    color: #000;
    position: absolute;
    top: 30%;
    transform: translate(0, -30%);
}

.clients-detail-books-list-div{
    position: absolute;
    top: 40%;
}

.clients-detail-books-list-div {
    margin: 0;
    padding: 0;
    border-collapse: collapse;
}

tr {
    border: 2px solid #aaa;
}
